# ðŸ’» Bootcamp Week 1 - Day 1 Lab
### Python Fundamentals & Data Structures
Welcome to the Day 1 lab session! This lab will reinforce your understanding of core Python syntax and data structures. Complete each section step by step.

## ðŸ”¸ Step 1: Variables & Data Types
Create variables of different types and observe their behavior.

In [ ]:
# TODO: Define a string, integer, float, and boolean
# Hint: Use type() to verify the type of each variable
name = ''  # e.g., 'Alice'
age = 0    # e.g., 25
height = 0.0  # e.g., 5.7
is_student = False

# Print each variable and its type

## ðŸ”¸ Step 2: Conditional Statements
Write a simple program to evaluate a student's grade.

In [ ]:
# TODO: Ask user to enter a score (0-100) and print the grade
# Hint: Use if-elif-else ladder
score = int(input("Enter your score: "))
# Add grading logic here

## ðŸ”¸ Step 3: Loops & Pattern Printing
Use loops to generate simple patterns.

In [ ]:
# TODO: Print a right-angled triangle using '*'
n = 5  # height of triangle
for i in range(1, n+1):
    print('*' * i)

## ðŸ”¸ Step 4: Lists & Comprehensions
Create and manipulate lists using Pythonic techniques.

In [ ]:
# TODO: Create a list of squares from 1 to 10 using list comprehension
squares = [ ]  # Fill this
print(squares)

## ðŸ”¸ Step 5: Tuples, Sets, and Dictionaries
Explore basic operations on key Python data structures.

In [ ]:
# TODO: Create a tuple of 5 items, add values to a set, and use a dictionary
sample_tuple = ( )  # Fill tuple
sample_set = set()
sample_set.add('apple')
sample_set.add('banana')
sample_dict = {'name': 'Alice', 'age': 25}

## ðŸ”¸ Step 6: Challenge - Word Frequency Counter
Write a Python program that counts the frequency of each word in a string.

In [ ]:
# TODO: Word frequency counter using dictionary
text = "Python is simple yet powerful. Python is easy to learn."
# Split text and count frequency
word_freq = {}
# Fill the logic here to count words
print(word_freq)

## ðŸ”¸ Step 7 (Optional): List Mutability in Functions
Pass a list to a function and modify it. Observe the changes.

In [ ]:
# TODO: Define a function that appends items to a list and observe mutability
def modify_list(my_list):
    my_list.append("new item")

lst = ["item1", "item2"]
modify_list(lst)
print(lst)

**MY SOLUTION**

In [51]:
import numpy as np
import pandas as pd

#variable and datatye
name = 'najam'
age= 25
height= 5.9
is_student= True

In [52]:
print('name:\t', name)
print('age:\t',age)
print('height:\t',height)
print('student:',is_student)

name:	 najam
age:	 25
height:	 5.9
student: True

In [53]:
#grade calculation
score= int(input("enter your score b/w 0 to 100: "))
if score > 100:
    print('invalid input/score')
elif score >= 90:
    grade= 'A'
    print('grade:',grade)
elif score >= 80:
    grade= 'B'
    print('grade:',grade)
elif score >= 70:
    grade = 'C'
    print('grade:',grade)
elif score >= 50:
    grade = 'D'
    print('grade:',grade)
else:
  grade = 'F'
  print('grade', grade)

enter your score b/w 0 to 100: 78
grade: C

In [54]:
 #Loops & Pattern Printing

n= 5
for i in range(1, n+1, 1):
  print('*' *i)

*
**
***
****
*****

In [55]:
# TODO: Create a list of squares from 1 to 10 using list comprehension
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
# tuple

sample_tuple = (1, 2, 3, 4, 5)

sample_set = set()
sample_set.add('apple')
sample_set.add('banana')
sample_set.add('cherry')

sample_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print('tuple:', sample_tuple)
print('set:',sample_set)
print('dictionary:',sample_dict)

tuple: (1, 2, 3, 4, 5)
set: {'apple', 'banana', 'cherry'}
dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [67]:
text = "Python is simple yet powerful. Python is easy to learn."
count = 0
in_word = False

for char in text:
    if char != ' ' and not in_word:
        count += 1
        in_word = True
    elif char == ' ':
        in_word = False

print("Word count:", count)

Word count: 10

In [68]:
# TODO: Define a function that appends items to a list and observe mutability
def modify_list(my_list):
    my_list.append("new item")

lst = ["item1", "item2"]
modify_list(lst)
print(lst)

['item1', 'item2', 'new item']

In [72]:
# TODO: Define a function that appends items to a list and observe mutability
def modify_list(my_list):
    return my_list + ["new item"]

lst = ["item1", "item2"]
lst= modify_list(lst)
print(lst)

['item1', 'item2', 'new item']